{
  "type": "service_account",
  "project_id": "SUBSTITUA",
  "private_key_id": "SUBSTITUA",
  "private_key": "-----BEGIN PRIVATE KEY-----\nSUBSTITUA\n-----END PRIVATE KEY-----\n",
  "client_email": "SUBSTITUA@traj-saude.iam.gserviceaccount.com",
  "client_id": "SUBSTITUA",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token"
}
